<main class="contenedor">
    <form action="/auth/reset-password" method="POST" class="default-form" novalidate>
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Tu Email" >
        </div>
        <div class="campo acciones">
            <a href="/auth/signin">Volver a Iniciar Sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reestablecer Password" class="btn btn-azul">
        </div>
    </form>
</main>